.search-container {
    display: flex;
    align-items: center;
    height: 30px;
    max-width: 260px;
    border-radius: 15px;
    padding: 10px;
    margin-left: 2%;
    border: 1px solid var(--primary-color);
}

/* Media query for mobile */
@media (max-width: 768px) {
    .search-container {
        max-width: 40%;
    }
}

.search-container:focus-within {
    box-shadow: 0 0 0 2px #7b7b7b1b
}

.search-icon {
    width: 16px;
    height: 16px;
    margin-right: 8px;
}

input[type="search"] {
    border: none;
    outline: none;
    font-size: 14px;
    background-color: transparent;
}

input[type="search"]::placeholder {
    color: var(--secondary-color);
}